<template>
    <div class="container mt-3">
        <div class="card mx-auto card-app" >
            <div class="card-header">
                <b>Usuarios</b>
            </div>
            <div class="card-body">                   
                <div data-bs-spy="scroll" data-bs-smooth-scroll="true" class="scrollspy-example mb-3" tabindex="0">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead style="background-color: #1abc9c; color: #fff">
                                <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Documento</th>
                                <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                </tr>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>             
                            </tbody>
                        </table>                        
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination mx-pagination">
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: rgba(26, 188, 156, 1);transform: ;msFilter:;"><path d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"></path></svg>
                        </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#" style="color: black;">1</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: black;">2</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: black;">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: rgba(26, 188, 156, 1);transform: ;msFilter:;"><path d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"></path></svg>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'UsuariosCmt'
}
</script>

<style scoped>
@media (min-width: 360px){
    .card-app{
        width: 100%;
    }
    .mx-pagination{
        padding-left: 3.5rem;
    }
    .scrollspy-example {
        height: 340px;
        margin-top: 0.5rem;
        overflow: auto;    
    }
}
@media (min-width: 1200px){
    .card-app{
        width: 80%;
    }
    .mx-pagination{
        padding-left: 25rem;
    }
    .scrollspy-example {
        height: 400px;
        margin-top: 0.5rem;
        overflow: auto;    
    }
} 
</style>