<template>
    <div class="container nav-bar">Copy right</div>
</template>

<script>
export default {
    name: 'FooterCmt'
}
</script>

<style scoped>
.nav-bar{
    /*background: linear-gradient(to right, #2193b0, #6dd5ed);*/
    background-color: #1abc9c;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
</style>