<template>
    <SiderbarCmt></SiderbarCmt>
    <div data-bs-spy="scroll" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
    <div class="container mb-1 content">
        <router-view></router-view>
    </div>
    </div>
    <FooterCmt></FooterCmt>
</template>

<script>
import SiderbarCmt from './SiderbarCmt.vue'
import FooterCmt from './FooterCmt.vue'
export default {
    name: 'ContentCmt',
    components: {
        SiderbarCmt,
        FooterCmt
    }
}
</script>

<style scoped>
@media (min-width: 860px){
    .scrollspy-example {
        height: 595px;
        margin-top: 0.5rem;
        overflow: auto;
        margin-bottom: 10px; 
    }
}
@media (max-width: 360px){
    .scrollspy-example {
        height: 515px;
        margin-top: 0.5rem;
        overflow: auto;
        margin-bottom: 15px;    
    }
}

</style>