<template>
    <div class="container nav-bar">        
        <nav class="navbar" style="justify-content: center;">
            <div class="row">
                <div class="col-md-1 col-2 mx-nav" style="margin-left: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(250, 248, 248, 1);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                    <p class="icon-letter">Perfil</p>
                </div>
                <div class="col-md-1 col-2 mx-nav">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(250, 248, 248, 1);transform: ;msFilter:;"><path d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM4 19V5h16l.002 14H4z"></path><path d="M6 7h12v2H6zm0 4h12v2H6zm0 4h6v2H6z"></path></svg>
                    <p class="icon-letter">Inventario</p>
                </div>
                <div class="col-md-1 col-2 mx-nav">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(250, 248, 248, 1);transform: ;msFilter:;"><path d="M21.993 7.95a.96.96 0 0 0-.029-.214c-.007-.025-.021-.049-.03-.074-.021-.057-.04-.113-.07-.165-.016-.027-.038-.049-.057-.075-.032-.045-.063-.091-.102-.13-.023-.022-.053-.04-.078-.061-.039-.032-.075-.067-.12-.094-.004-.003-.009-.003-.014-.006l-.008-.006-8.979-4.99a1.002 1.002 0 0 0-.97-.001l-9.021 4.99c-.003.003-.006.007-.011.01l-.01.004c-.035.02-.061.049-.094.073-.036.027-.074.051-.106.082-.03.031-.053.067-.079.102-.027.035-.057.066-.079.104-.026.043-.04.092-.059.139-.014.033-.032.064-.041.1a.975.975 0 0 0-.029.21c-.001.017-.007.032-.007.05V16c0 .363.197.698.515.874l8.978 4.987.001.001.002.001.02.011c.043.024.09.037.135.054.032.013.063.03.097.039a1.013 1.013 0 0 0 .506 0c.033-.009.064-.026.097-.039.045-.017.092-.029.135-.054l.02-.011.002-.001.001-.001 8.978-4.987c.316-.176.513-.511.513-.874V7.998c0-.017-.006-.031-.007-.048zm-10.021 3.922L5.058 8.005 7.82 6.477l6.834 3.905-2.682 1.49zm.048-7.719L18.941 8l-2.244 1.247-6.83-3.903 2.153-1.191zM13 19.301l.002-5.679L16 11.944V15l2-1v-3.175l2-1.119v5.705l-7 3.89z"></path></svg>
                    <p class="icon-letter">Productos</p>
                </div>
                <div class="col-md-1 col-2 mx-nav">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(255, 249, 249, 1);transform: ;msFilter:;"><path d="M20 2H8a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-6 2.5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM19 15H9v-.25C9 12.901 11.254 11 14 11s5 1.901 5 3.75V15z"></path><path d="M4 8H2v12c0 1.103.897 2 2 2h12v-2H4V8z"></path></svg>
                    <p class="icon-letter">Clientes</p>
                </div>
                <div class="col-md-1 col-2 mx-nav">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: rgba(255, 249, 249, 1);transform: ;msFilter:;"><path d="M3 3v17a1 1 0 0 0 1 1h17v-2H5V3H3z"></path><path d="M15.293 14.707a.999.999 0 0 0 1.414 0l5-5-1.414-1.414L16 12.586l-2.293-2.293a.999.999 0 0 0-1.414 0l-5 5 1.414 1.414L13 12.414l2.293 2.293z"></path></svg>
                    <p class="icon-letter">Reportes</p>
                </div>
                <div class="col-md-4 col-12" style="padding-top: 7px; padding-left: 0;">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit" style="border: 2px solid #fff;color: #fff;">Search</button>
                </form>   
                </div>           
            </div>              
        </nav>
    </div>
</template>

<script>
export default {
  name: 'SiderbarCmt'
}
</script>

<style scoped>
@media (min-width: 768px){
    .col-md-1 {
        flex: 0 0 auto;
        width: 11%;
    }
    .icon-letter{
        color: #faf4f4;
        font-size: 12px;
        margin-bottom: 0;        
    }
}
@media (max-width: 360px){
    .icon-letter{
        color: #faf4f4;
        font-size: 8px;
        margin-bottom: 0;  
    }
    .row{
        margin-left: 2%;
    }
    .row>* {
        padding-right: calc(0.5rem * .5);
        padding-left: calc(0.5rem * .5);
    }
    .nav-bar{
        width: 95%;
    }
}

.mx-nav{
    margin-right: 0.5rem!important;
    border: 2px solid #fff; 
    border-radius: 16px;
    text-align: center;
}
.btn-outline-dark:hover{
    background: rgba(23, 150, 143, 0.596);
}
.mx-nav:hover{
    background: rgba(23, 150, 143, 0.596);
}
.nav-bar{
    /*background: linear-gradient(to right, #2193b0, #6dd5ed);*/
    background-color: #1abc9c;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
</style>