<template>
  <router-view></router-view>
</template>

<script>


export default {
  name: 'App',
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin-top: 30px;
}
@media (max-width: 360px){
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    margin-top:20px;
  }
}
</style>
